@font-face {
    font-family: 'NEXA';
    src: url('../../public/assets/fonts/Nexa-Heavy.ttf') format('truetype');
}

body {
    font-family: 'NEXA', sans-serif;
    background: url('../../public/images/FIF.jpg');
    background-color: rgba(30, 55, 153, 0.70);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 100px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 5%;
    border-radius: 20px;
    background: #E8E6F4;
    box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.80);
    flex-direction: column;
}

.title {
    color: #000;
    text-align: center;
    font-size: 60px;
    font-family: Nexa;
    font-weight: 900;
    margin: 5vh;
}

.column3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.itemColumn {
    margin: 0vh 5vh 0vh 5vh;
    /* content: vh vh vh vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3vh;
}

.field {
    border-radius: 50px;
    background: #D4D1EA;
    width: 150%;
    height: 4ch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddRow {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #AAA5D4;
    width: 90%;
    padding: 1vh 0vh 1vh 0vh;
    margin: 2vh 0vh 2vh 0vh;
    flex-direction: column;
}

.collapse {
    /* visibility: hidden; */
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.6s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: grid;
    width: 100%;
}

.fieldsAddRow {
    /* visibility: visible; */
    max-height: 1000px;
    transition: max-height 0.6s;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputRow {
    margin-left: 20px;
    padding: 0.5vh;
    border-radius: 8px;
    background: #E8E6F4;
    border: none;
    width: 60%;
}

.fieldProfessor {
    margin-top: 2vh;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
}

.submit {
    border-radius: 50px;
    background: #32409E;
    padding: 1vh 5vh 1vh 5vh;
    margin: 1vh 5vh 1vh 5vh;
    color: white;
}

.fieldsColumn {
    width: 90%;
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1% 10%;
}

table {
    width: 95%;
    /* background-color: rebeccapurple; */
    margin: 1vh 0vh 2vh 0vh;
}

tr {
    background-color: white;
}

tr:nth-child(even) {
    background-color: #AAA5D4;
}

.headerTable {
    background-color: #32409E;
    color: white;
}

.icon {
    width: 4vh;
}